<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Medicamentos</title>
    <link rel="stylesheet" href="../assets/css/lista_cadastrados.css">
</head>

<body>

    <aside class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="../models/listarUsuarios.php">Usuários</a></li>
            <li><a href="#" class="active">Medicamentos</a></li>
        </ul>
    </aside>

    <main class="content">
        <header>
            <h1>Medicamentos <span>- Lista de Medicamentos do sistema</span></h1>
            <nav class="breadcrumb">
                <a href="#">Listagem de Medicamentos</a>
            </nav>
        </header>

        <section class="user-section">
            <a class="add-user" href="../views/cadastro_medicamentos.html">Cadastrar Medicamento</a>

            <table class="user-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome Comercial</th>
                        <th>Princípio Ativo</th>
                        <th>Uso Restrito</th>
                        <th>Qtd. Estoque</th>
                        <th>Unidade</th>
                        <th>Data Cadastro</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- AQUI VAI A TABELA -->
                </tbody>
            </table>
        </section>
    </main>

</body>

</html>