body {
    font-family: Arial, sans-serif;
    background-color: #0097b2;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    width: 400px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

h2 {
    text-align: center;
    color: #0097b2;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: #0097b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #007f96;
}

.hidden {
    display: none;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 150px; /* ajuste o tamanho se quiser */
    height: auto;
}

.logo-container {
    text-align: center;
    margin-bottom: 25px;
}

.logo-container img {
    width: 180px;
    height: auto;
    margin-top: 10px;
    filter: drop-shadow(0 2px 3px rgba(0,0,0,0.2));
}
